html {
  -webkit-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi",
    "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga",
    "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee",
    "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic",
    "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue",
    "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti",
    "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  direction: ltr;
  color: #1b1b1b;
  text-align: left;
  box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.form-group {
  margin-bottom: 16px;
}

.move-buttons div.button-container {
  bottom: auto;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.title {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  font-size: 24px;
  line-height: 28px;
  font-weight: 300;
  line-height: 28px;
  padding-bottom: 2.3632px;
  padding-top: 2.3632px;
  color: #1b1b1b;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin-top: 16px;
  margin-bottom: 12px;
  font-family: "Segoe UI", "Helvetica Neue", "Lucida Grande", "Roboto", "Ebrima",
    "Nirmala UI", "Gadugi", "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI",
    "Khmer UI", "Tunga", "Lao UI", "Raavi", "Iskoola Pota", "Latha",
    "Leelawadee", "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic",
    "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue",
    "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti",
    "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
}

body {
  font-family: "Segoe UI Webfont", -apple-system, "Helvetica Neue",
    "Lucida Grande", "Roboto", "Ebrima", "Nirmala UI", "Gadugi",
    "Segoe Xbox Symbol", "Segoe UI Symbol", "Meiryo UI", "Khmer UI", "Tunga",
    "Lao UI", "Raavi", "Iskoola Pota", "Latha", "Leelawadee",
    "Microsoft YaHei UI", "Microsoft JhengHei UI", "Malgun Gothic",
    "Estrangelo Edessa", "Microsoft Himalaya", "Microsoft New Tai Lue",
    "Microsoft PhagsPa", "Microsoft Tai Le", "Microsoft Yi Baiti",
    "Mongolian Baiti", "MV Boli", "Myanmar Text", "Cambria Math";
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
  color: #000;
  background-color: #fff;
}

.fade-in-lightbox {
  animation: fadeIn 0.3s ease-in;
  -webkit-animation: fadeIn 0.3s ease-in;
  -moz-animation: fadeIn 0.3s ease-in;
  -ms-animation: fadeIn 0.3s ease-in;
  -o-animation: fadeIn 0.3s ease-in;
}

.inner,
.sign-in-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
}

body.cb {
  color: #1b1b1b;
  text-align: left;
}

.provide-min-height {
  min-height: 1px;
}

body.cb {
  text-align: center;
}

body.cb .text-13 {
  font-size: 0.8125rem;
}

div.text-13 {
  font-size: 0.8125rem;
}

.outer {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
}

.template-section.main-section {
  height: 100%;
}

.template-section {
  display: table-row;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner.has-popup,
.sign-in-box.has-popup {
  margin-bottom: 20px;
}

.inner.has-popup,
.sign-in-box.has-popup {
  margin-bottom: 20px;
}

.fade-in-lightbox {
  animation: fadeIn 0.3s ease-in;
  -webkit-animation: fadeIn 0.3s ease-in;
  -moz-animation: fadeIn 0.3s ease-in;
  -ms-animation: fadeIn 0.3s ease-in;
  -o-animation: fadeIn 0.3s ease-in;
}

.logo {
  max-width: 256px;
  height: 24px;
}

img {
  vertical-align: middle;
}

body.cb .text-13 {
  font-size: 0.8125rem;
}

.button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
}

.no-padding-left-right {
  padding-left: 0;
  padding-right: 0;
}

.col-xs-24 {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-13,
.col-xs-14,
.col-xs-15,
.col-xs-16,
.col-xs-17,
.col-xs-18,
.col-xs-19,
.col-xs-20,
.col-xs-21,
.col-xs-22,
.col-xs-23,
.col-xs-24 {
  float: left;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12,
.col-xs-13,
.col-sm-13,
.col-md-13,
.col-lg-13,
.col-xs-14,
.col-sm-14,
.col-md-14,
.col-lg-14,
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-xs-16,
.col-sm-16,
.col-md-16,
.col-lg-16,
.col-xs-17,
.col-sm-17,
.col-md-17,
.col-lg-17,
.col-xs-18,
.col-sm-18,
.col-md-18,
.col-lg-18,
.col-xs-19,
.col-sm-19,
.col-md-19,
.col-lg-19,
.col-xs-20,
.col-sm-20,
.col-md-20,
.col-lg-20,
.col-xs-21,
.col-sm-21,
.col-md-21,
.col-lg-21,
.col-xs-22,
.col-sm-22,
.col-md-22,
.col-lg-22,
.col-xs-23,
.col-sm-23,
.col-md-23,
.col-lg-23,
.col-xs-24,
.col-sm-24,
.col-md-24,
.col-lg-24 {
  position: relative;
  min-height: 1px;
  padding-left: 2px;
  padding-right: 2px;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin-top: 0;
  margin-bottom: 0;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  min-height: 32px;
  border: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 108px;
  line-height: normal;
}

.text-input,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
}

.text-input,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
  padding: 6px 10px;
  border-width: 1px;
  border-color: #666;
  border-color: rgba(0, 0, 0, 0.6);
  height: 36px;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
}

.text-input,
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea {
  padding: 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  height: 32px;
  height: 2rem;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  min-width: 100px;
  padding: 4px 12px 4px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  touch-action: manipulation;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}

.row.tile .content > * {
  word-wrap: break-word;
}

.row.tile .content {
  line-height: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.text-left {
  text-align: left;
}

.row.tile {
  margin-bottom: 0;
  outline: none;
  color: inherit;
  display: block;
  margin-left: -44px;
  margin-right: -44px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input,
button,
textarea,
select,
option,
progress {
  max-width: 100%;
  line-height: inherit;
}

.input.text-box {
  padding: 4px 8px;
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.4);
  height: 32px;
  height: 2rem;
  padding: 6px 10px;
  border-width: 1px;
  border-color: #666;
  border-color: rgba(0, 0, 0, 0.6);
  height: 36px;
  outline: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: transparent;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  padding-left: 0;
}

.form-group {
  margin-bottom: 16px;
}

a:hover {
  text-decoration: underline;
}

a:active,
a:hover {
  outline: 0;
}

a:link {
  color: #0067b8;
}

a:hover {
  color: #666;
}

a {
  color: #ccc;
  text-decoration: none;
}

.button.primary:hover {
  background-color: #005da6;
}

.promoted-fed-cred-content .row.tile .table {
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-hover,
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
}

.button.secondary:hover {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-hover,
.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: #b2b2b2;
  background-color: rgba(0, 0, 0, 0.3);
}

.button.secondary {
  display: inline-block;
  min-width: 100px;
  padding: 4px 12px 4px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  touch-action: manipulation;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  min-height: 32px;
  border: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 108px;
  line-height: normal;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  width: 100%;
}

.button.primary {
  color: #fff;
  border-color: #0067b8;
  background-color: #0067b8;
  display: block;
  width: 100%;
}

body.cb #learnMoreLink,
body.cb #signup,
body.cb #idA_MSAccLearnMore {
  white-space: nowrap;
}

.ltr_override,
.dirltr {
  direction: ltr;
  text-align: left;
}

.form-control {
  display: block;
  width: 100%;
  background-image: none;
}

.row.tile:not(.no-pick) {
  cursor: pointer;
}

.row.tile:not(.no-pick):hover {
  background-color: #e6e6e6;
  background-color: rgba(0, 0, 0, 0.1);
  color: inherit;
}

input,
button,
textarea,
select,
option,
progress {
  max-width: 100%;
  line-height: inherit;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

input[type="hidden" i] {
  appearance: none;
  background-color: initial;
  cursor: default;
  display: none !important;
  padding: initial;
  border: initial;
}

input {
  writing-mode: horizontal-tb !important;
  font-style: ;
  font-variant-ligatures: ;
  font-variant-caps: ;
  font-variant-numeric: ;
  font-variant-east-asian: ;
  font-weight: ;
  font-stretch: ;
  font-size: ;
  font-family: ;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0em;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.lightbox-cover {
  background-color: white;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}

.inner,
.sign-in-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
}

.inner.has-popup,
.sign-in-box.has-popup {
  margin-bottom: 20px;
}

.inner.has-popup,
.sign-in-box.has-popup {
  margin-bottom: 20px;
}

.fade-in-lightbox {
  animation: fadeIn 0.3s ease-in;
  -webkit-animation: fadeIn 0.3s ease-in;
  -moz-animation: fadeIn 0.3s ease-in;
  -ms-animation: fadeIn 0.3s ease-in;
  -o-animation: fadeIn 0.3s ease-in;
}

.promoted-fed-cred-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  line-height: 16px;
  min-width: 320px;
  padding: 0;
}

.promoted-fed-cred-content {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding-left: 44px;
  padding-right: 44px;
}

.table {
  width: 100%;
  display: table;
  table-layout: fixed;
}

.table .table-row {
  display: table-row;
}

.row.tile .table {
  padding: 12px 44px;
}

.tile-img.medium {
  width: 32px;
  height: 32px;
}

.table .table-cell {
  display: table-cell;
  vertical-align: middle;
}

.row.tile .table-cell:first-child + .table-cell {
  width: 100%;
}

.row.tile .content {
  line-height: 16px;
  padding-left: 12px;
  padding-right: 12px;
}

.inner,
.sign-in-box {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  z-index: 99;
  clear: both;
  min-height: 28px;
}

.footer {
  background-color: rgba(0, 0, 0, 0.6);
}

div.footerNode {
  margin: 0;
  float: right;
}

.text-secondary {
  color: rgba(0, 0, 0, 0.7);
  font-size: 13px;
}

.footer-content.footer-item {
  color: #fff;
  font-size: 12px;
  line-height: 28px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
  text-decoration: none;
  font-weight: 400;
}

.background-overlay {
  background: rgba(0, 0, 0, 0.33);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#8C000000', endColorstr='#8C000000');
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.banner-logo {
  max-height: 36px;
}

img {
  border: 0;
}

.identity {
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer-content.footer-item:hover {
  text-decoration: underline;
}

.footer-content.footer-item.debug-item {
  text-decoration: none;
  letter-spacing: 3px;
  line-height: 22px;
  vertical-align: top;
  font-size: 16px;
  font-weight: 600;
}

.footer-content.footer-item.debug-item:hover {
  text-decoration: none;
}

.footer.has-background,
.footer.has-background.background-always-visible {
  background-color: rgba(0, 0, 0, 0.6);
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: end;
  width: 100%;
}

footer ul a {
  color: #000;
  font-size: 12px;
  line-height: 28px;
  white-space: nowrap;
  display: inline-block;
  margin-left: 8px;
  margin-right: 8px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.backButton {
  min-height: 24px;
  width: 24px;
  min-width: 24px;
  float: left;
  padding: 0;
  background-color: #fff;
  border-width: 0;
  border-radius: 12px;
  margin-right: 2px;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  margin-top: 0;
  margin-bottom: 0;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  min-height: 32px;
  border: none;
  background-color: #ccc;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 108px;
  line-height: normal;
}

.btn,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  display: inline-block;
  min-width: 100px;
  padding: 4px 12px 4px 12px;
  margin-top: 4px;
  margin-bottom: 4px;
  position: relative;
  max-width: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  text-overflow: ellipsis;
  touch-action: manipulation;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.2);
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.boilerplate-text {
  background-color: #f2f2f2;
  padding: 24px 44px 36px 44px;
  margin: 76px -44px -44px -44px;
}

.modal-header h4.UserTitle,
.wrap-content {
  word-wrap: break-word;
}

.boilerplate-text > p:last-child {
  margin-bottom: 0;
}

.boilerplate-text > p:first-child {
  margin-top: 0;
}

.identityBanner {
  height: 24px;
  background: #fff;
  margin-top: 16px;
  margin-bottom: -4px;
}

.text-body,
p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
}

.text-body,
p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  padding-bottom: 0.227px;
  padding-top: 0.227px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-headline,
.text-header,
.text-subheader,
.text-title,
.text-subtitle,
.text-body,
.text-base,
.text-caption,
.text-caption-alt,
.text-subcaption,
p {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
.text-headline,
.text-header,
.text-subheader,
.text-title,
.text-subtitle,
.text-body,
.text-base,
.text-caption,
.text-caption-alt,
.text-subcaption,
p {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
